<h2>Latest Reviews</h2>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%=link_to review.restaurant.name, restaurant_path(review.restaurant) %>: <%=review.body %>, Rating: <%=review.rating %>
    </li>
  <%end%>
</ul>

<%=link_to 'See All Restaurants', restaurants_path %>

